/*
At least four style definitions (it is possible you will have many more than four styles)
Styles that specify font color
Styles that specify font family
At least three divs that are positioned and styled using your styles
*/
body {
    font-family: system-uis, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    background-size: cover;
    color: rgb(0, 162, 255);
    /*font-family is the attribute, Arial, Helvetica, and sans-serif is a value*/
}

h2, h3 {
    color: blue;
}

div {
    background-color: rgb(248, 238, 183);
}

div {
    padding: 15px;
}

div {
    padding-top: 30px;
}

.bold {
    font-weight: bold;
}

.italics {
    font-style: italic;
}